<div class="header">
    <div class="row">
        <div class="medium-4 columns">
            <a class="logo" href="{{ site.baseurl }}/">Logspace</a>
        </div>
        <div class="medium-8 columns">
            <ul class="inline-list main-nav">
                <li><a href="{{ site.baseurl }}/demo/">
                    <span class="show-for-small-only">Docs</span>
                    <span class="show-for-medium-up">Documentation</span>
                </li>
                <li><a href="{{ site.baseurl }}/download/">Download</a></li>
                <li><a href="{{ site.baseurl }}/download/">Support</a></li>
                <li><a href="https://github.com/Indoqa/logspace">GitHub</a></li>
            </ul>
        </div>
    </div>
</div>
