<a href="#" class="toggle-sidebar">Toggle navigation</a>
<div class="sidebar">
    <h4>Quick start</h4>
    <ul class="side-nav">
        <li><a href="/demo/">Demo</a></li>
        <li><a href="/getting-started/">Getting Started</a></li>
        <li><a href="/system-overview/">System Overview</a></li>
    </ul>
    <h4>Guides</h4>
    <ul class="side-nav">
        <li><a href="/ready-to-use-agents/">Ready-to-use Agents</a></li>
        <li><a href="/write-your-own-agent/">Write Your Own Agent</a></li>
        <li><a href="/multiple-spaces/">Multiple Spaces</a></li>
        <li><a href="/frontend/">Frontend</a></li>
    </ul>
    <h4>HQ Configuration</h4>
    <ul class="side-nav">
        <li><a href="/configuration-hq-system-properties/">System Properties</a></li>
        <li><a href="/configuration-hq-spaces/">Spaces</a></li>
        <li><a href="/configuration-hq-orders/">Orders</a></li>
        <li><a href="/configuration-hq-agent-controller/">HqAgentController</a></li>
    </ul>
    <h4>Reference</h4>
    <ul class="side-nav">
        <li><a href="/event-api/">Event API</a></li>
        <li><a href="/query-api/">Query API</a></li>
        <li><a href="/java-agent-sdk/">Java Agent SDK</a></li>
    </ul>
</div>
