/*
 * Logspace
 * Copyright (c) 2015 Indoqa Software Design und Beratung GmbH. All rights reserved.
 * This program and the accompanying materials are made available under the terms of
 * the Eclipse Public License Version 1.0, which accompanies this distribution and
 * is available at http://www.eclipse.org/legal/epl-v10.html.
 */

@require '../../../app/components/variables'

.time-series-edit
  overflow-y auto
  position relative
  float left
  height s("calc(100% - 40px)")
  width 100%

  .time-series-label-wrapper
    background-color $color5
    padding 10px

  .details
    padding 10px
    margin-top 5px

    .color-option
      float left
      width 30px
      padding-top 10px
      padding-left 10px
      input
        width 20px
        height 20px

    .clearer
      clear both

    .buttons
      margin-top 30px
      height 100px

      .delete-visible
        display inline
        margin-left 10px

      .delete-hidden
        display none
