---
---

%clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }

  &:after {
    clear: both;
  }
}

// @import "settings";
@import "normalize";
@import "settings";
@import "foundation";
@import "highlight";

$yellow: #ffdd00;
$homepage-bg-color: #0097a7;

code {
  background: none;
  border: solid 0px #ddd;
  font-size: 13px;
  padding: 0;
  border-radius: 3px;
}

blockquote {
  padding: 10px 15px;
  border: solid 1px #ddd;
  font-size: 90%;

  p { font-size: 1em; }

  :first-child { margin-top: 0; }
  :last-child { margin-bottom: 0; }
}

.highlight {
  display: block;
  overflow-x: auto;
  padding: 0.2em;
  color: #333;
  background: #f8f8f8;
  margin-bottom: $paragraph-margin-bottom;
}

pre {
  font-size: 13px;
  line-height: 18px;
  padding: 7px 10px;
  margin-bottom: 0;
  font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace;

  code {
    padding: 0;
    background: none;
    border: none;
    font-size: inherit;
    border-radius: none;
  }
}

h2 { font-size: 1.4em; }
h3, h4, h5, h6 {
  font-size: 1.1em;
  margin-bottom: 5px;
}

h4 { color: #000; text-transform: uppercase; font-size: 1em; margin-bottom: 5px; }

.edit-this-page {
  text-align: right;
  font-size: 85%;
}

.header {
  width: 100%;
  background: $primary-color;
  opacity: 1;
  z-index: 2;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 10px;
  line-height: 30px;
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.9);

  .logo {
    font-family: "Varela Round";
    font-weight: 400;
    font-size: 30px;
    text-transform: uppercase;
  }

  a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }

  @media #{$medium-up} {
    .main-nav {
      float: right;
    }
    position: fixed;
    top: 0px;
  }
}

@media #{$medium-up} {
  .content {
    margin-top: 70px;
    z-index: 1;
    .innercontent {
      padding: 80px 0;
    }
  }
}

.toggle-sidebar {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
  color: $secondary-color !important;
}

.sidebar { display: none; }
.sidebar.show { display: block; }

@media #{$medium-up} {
  .toggle-sidebar { display: none; }
  .sidebar {
    display: block;
    border-right: solid 1px #eee;
  }
}


.sidebar {
  margin-bottom: 30px;

  h4 {
    margin: 0;
    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
  }

  ul.side-nav {
    margin-bottom: 15px;
    li a {
      padding: 3px 0;
    }
  }
}

.sponsor-me {
  opacity: .5;

  &:hover {
    opacity: 1;
  }

  p {
    font-size: 11px;
    line-height: 15px;
  }

  form { text-align: center; }
}

.homepage {
  background-color: $homepage-bg-color;
  ::selection {
    background: none;
  }
  color: #fff;

  hr {
    opacity: 0;
  }

  .donate {
    display: none !important;
  }

  h1, h2, h3, h4, h5, h6 {
    color: #fff;
  }
}

.splash {
  h1 {
    font-size: 2em;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5px;
  }

  @media #{$medium-up} {
    h1 { font-size: 3em; }
  }

  .download {
    background: $yellow;
    color: #222;
    font-size: 1.4em;
    line-height: 1;
    border-radius: 3px;
    white-space: nowrap;
  }
}


.small-text {
  font-size: 12px;
  line-height: 16px;
}

.insight {
  background-blend-mode: multiply;
  background-image: linear-gradient(110deg, #0097a7 10%, #0097a7 90%), url("/assets/images/bg.png");
}

.steps {
  // background-color: auto;
}

.integration {
  background-blend-mode: multiply;
  background-image: linear-gradient(110deg, #0097a7 10%, #0097a7 90%), url("/assets/images/bg.png");
}
