/*
 * Logspace
 * Copyright (c) 2015 Indoqa Software Design und Beratung GmbH. All rights reserved.
 * This program and the accompanying materials are made available under the terms of
 * the Eclipse Public License Version 1.0, which accompanies this distribution and
 * is available at http://www.eclipse.org/legal/epl-v10.html.
 */

@require '../app/variables'

.lite-dropdown 
  .display
    padding 0px
  
  .item
    padding 0px

  .time-series-label
    padding-left 10px
    border-bottom lighten($color5, 5%) 1px solid
    span
      margin-right 2px
      
    
  .display .time-series-label
    background-color lighten($color5, 5%)
  
  .separator
    text-align center
    font-size 1.1rem
    text-transform uppercase
    background-color lighten($color5, 5%)
  
  .manual:hover 
    background-color darken($color5, 5%)

  .manual
    padding-left 10px
    border-left 6px solid darken($color5, 5%)
    border-bottom lighten($color5, 5%) 1px solid
    
  .display .manual
     background-color lighten($color5, 5%)
    