/*
 * Logspace
 * Copyright (c) 2015 Indoqa Software Design und Beratung GmbH. All rights reserved.
 * This program and the accompanying materials are made available under the terms of
 * the Eclipse Public License Version 1.0, which accompanies this distribution and
 * is available at http://www.eclipse.org/legal/epl-v10.html.
 */

@require 'variables'

calc(prop, val, fallback) {
  if (fallback) {
   {prop}: fallback;
  }
  {prop}: s("calc(%s)", val);
}

slide-navigation-drawer-transformation() {
  transition all 0.15s ease-out
}

body
  overflow hidden

#app
  height 100%
  width 100%
  min-width $app-min-width
  position absolute
  overflow hidden

  .page
    height 100%
    width 100%
    position absolute
    overflow hidden

  .time-series
    height 100%
    width 100%
    position absolute

  .header
    height $header-height

  .navigation-drawer
    float left
    width $navigation-drawer-width
    height 100%
    position absolute
    overflow auto
    overflow-x hidden
    z-index 999
    slide-navigation-drawer-transformation()

    .left
      width: $navigation-drawer-width
      position: absolute

    .right
      width $navigation-drawer-width-expanded-only
      position absolute
      left $navigation-drawer-width
      border-left 1px solid #eee
      height 100%

  .navigation-drawer-expanded
    width $navigation-drawer-width-expanded

  .tools
    position fixed
    z-index 2
    bottom 0px
    height $tools-height
    width $navigation-drawer-width

  .main
    margin-left $navigation-drawer-width
    position relative
    height 100%
    slide-navigation-drawer-transformation()

  .main-reduced
    margin-left $navigation-drawer-width-expanded
