/*
 * Logspace
 * Copyright (c) 2015 Indoqa Software Design und Beratung GmbH. All rights reserved.
 * This program and the accompanying materials are made available under the terms of
 * the Eclipse Public License Version 1.0, which accompanies this distribution and
 * is available at http://www.eclipse.org/legal/epl-v10.html.
 */

$app-min-width = 1024px
$header-height = 70px
$tools-height = 50px
$navigation-drawer-width = 250px
$navigation-drawer-width-expanded = 750px
$navigation-drawer-width-expanded-only = $navigation-drawer-width-expanded - $navigation-drawer-width

$color-primary = #1976d2
$color-secondary = #ff4081
$color3 = #fff
$color4 = #222
$color5 = #cfd8dc
$color6 = #fff

$color-text = $color4
$font-main = "Roboto", sans-serif
