/*
 * Logspace
 * Copyright (c) 2015 Indoqa Software Design und Beratung GmbH. All rights reserved.
 * This program and the accompanying materials are made available under the terms of
 * the Eclipse Public License Version 1.0, which accompanies this distribution and
 * is available at http://www.eclipse.org/legal/epl-v10.html.
 */

@require '../app/variables'

#app
  .header
    z-index 99
    background none repeat scroll 0 0 $color-primary
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 2px 12px 0 rgba(0, 0, 0, 0.35);

  .navigation-drawer
    z-index 1
    background-color $color3
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0), 0 2px 12px 0 rgba(0, 0, 0, 0.35);

  .time-window-values
    background-color $color7

  .tools
    background-color $color5
    display none

  .add-series-entry
    margin-top 30px
    text-align center

  .chart-header
    background-color $color-primary
    color $color3
    text-align center
    .title
      font-weight 700
      font-size 2.1rem
    .edit
      font-size 1.2rem
      margin-left 10px
