.suggestions
  height 100%
  width 100%
  position relative
  overflow hidden

  .query
    width: 445px
    position: absolute
    input
      width: 99%

  .result
    width: 300px
    top: 50px
    left: 150px
    position: absolute
    
  .facets
    width: 150px
    top: 50px
    position: absolute
    height: 100%
